<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <a href="{{ url_for('show_index') }}"> <img src="{{ url_for('static', filename='images/ig-logo.jpg') }}" alt="Logo here" height="50" width="50" style="vertical-align: middle;"></a>
            <h1 style="display: inline;">| Insta485</h1>
            <h3 style="display: inline; float: right; vertical-align: top;"> <a href = "{{ url_for('show_explore') }}"> explore </a> | <a href="{{ url_for('show_user', user_url_slug=logname) }}"> {{logname}} </a></h3>
            <hr style="width: 100%;">
        </div>  
        <br> <br>
        
        <!-- DO NOT CHANGE THIS -->
        <form style="padding-left: 5%;" action="{{ url_for('update_account') }}?target={{ url_for('show_edit_account') }}" method="post" enctype="multipart/form-data">
            <p> Old password <input style="margin-left: 4%;" type="password" name="password" required/></p>
            <p> New password <input style="margin-left: 4%;" type="password" name="new_password1" required/></p>
            <p> New password, again<input style="margin-left: 1%;" type="password" name="new_password2" required/></p>
            <p><input style="margin-left: 12%;" type="submit" name="update_password" value="submit"/></p>
            <p><input type="hidden" name="operation" value="update_password"/></p>
        </form>
        
        <p style="margin-left: 5%;"> <a href="{{ url_for('show_edit_account') }}"><b>Back to edit account</b></a></p>
    </body>
</html>
     